.wrapper{
    position: relative;
}

a[href~="interface5.html"]{
    color: black;
}

.altheader{
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.altheader__span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--maincolor);
}

.check{
    width: 380px;
    height: 45px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.check__span{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 50px;
    color: var(--maincolor);
}

