*{
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.wrapper{
    width: 400px;
    height: 700px;
    border: 0.01px solid #a7abad;
    border-radius: 2px;
}
